:root {
    --bcg-color-theme: #181a1b;
    --color: white;
    --shadow-color: black;

    --library-log: ;
}

* {
    margin: 0;
    padding: 0;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    background-color: var(--bcg-color-theme);
    color: var(--color);

    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    overflow-y: auto;
}
button {
    all: unset;
}

.container {
    display: grid;
    grid-template: 1fr 7fr / 2fr 1fr 1fr;

    height: 100%;
}


.container .header {
    grid-column: 1 / -1;

    display: grid;
    grid-template: 1fr / auto auto 1fr;
    gap: 25px;
    align-items: center;
    padding: 20px;

    border-bottom: 3px solid var(--shadow-color);
    box-shadow: 0 4px 6px var(--shadow-color);
}
.container .header .header-title {
    padding-left:50px;
    font-size: 40px;
}
.container .header .svg-darkmode {
    -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
    filter: invert(100%);
}
.container .header object {
    align-self: center;
}
.container .header .lib-log {
    justify-self: end;
    padding-right: 50px;
}


.container .content {
    grid-column: 1 / -1;
    margin-right: 80px;
    margin-left: 80px;
    gap: 25px;
    

    display: grid;
    grid-template: 150px 1fr / 1fr;
}
.container .content .navbar {
    grid-column: 1 / -1;

    display: grid;
}
.container .content .navbar button {
    grid-column: 2 / 3;
    align-self: center;
    text-align: center;
    user-select: none;
    
    width: 175px;
    height: 65px;
    border-radius: 7px;
    border: 2px solid var(--color);
    box-shadow: 2px 2px 4px gray;
}
.container .content .shelf {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, 200px);
    gap: 35px;
}
.container .content .shelf .card-read,
.container .content .shelf .card-unread {
    position: relative;
    border-radius: 8px;
    min-height: 160px;
    padding: 20px;

    display: grid;
    gap: 8px;
}
.container .content .shelf .card-read {
    background: linear-gradient(135deg, rgba(24, 77, 104, 0.8) 0%, rgba(87, 202, 133, 0.8) 100%);
    color: white;
}
.container .content .shelf .card-unread {
    background: linear-gradient(135deg, #e3e3e3 0%, #5d6874 100%);
    color: black;
}
.container .content .shelf button {
    position: absolute;
    text-align: center;
    right: 30px;
    bottom: 20px;
    user-select: none;

    width: 100px;
    height:30px;

    border-radius: 6px;
    border: 2px solid;
}
.container .content .shelf button:hover,
.container .navbar button:hover {
    scale: 1.03;
    transition: 0.5ms;
    cursor: pointer
}
.container .content .shelf button:active,
.container .navbar button:active {
    scale: 1;
}

.container .new-book {
    margin: auto;
    padding: 25px;

    border: none;
    border-radius: 8px;

    background-color: var(--bcg-color-theme);
    color: var(--color);

    grid-template: 40px / 1fr;
}
::backdrop {
    background-color: #00000094;
}
.container .new-book form {
    display: grid;

    gap: 25px;
}
.container .new-book form div {
    display: grid;
}



/* Remove Library Log on Mobile devices */
@media only screen and (max-width: 470px) {
    .lib-log{
        display: none;
    }
}